/*! Styles for the Film Lizard */

/* Contents
    1.0 Common
        1.1 Buttons
    2.0 Structure
    3.0 Javascript
        3.1 Placeholder
    4.0 Navigation
        4.1 Primary Navigation
    5.0 Category Search Results
    6.0 Forms
        6.1 Primary Search
    7.0 Film Details
*/

/* 1.0 Common */
/*
 * All styles relating to common elements
*/

label{
    display: inline;
    height: 1%;
}
input[type="text"], input[type="submit"]{
    height: auto;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
}
ul{
    margin: 0;
    border: none;
}

/* 4.0 Navigation */

.navigation li{
    display: inline;
    height: 1%;
}
.navigation a{
    color: #FFF;  
}
.navigation a:hover{
    color: #BBB;
}


/* 4.1 Primary Navigation */

#primary-navigation ul{
    display: inline;
    height: 1%;
}

/* 5.0 Category search results */

.search-results .result{
    display: inline;
    height: 1%;
}
.categories .search-by-information{
    display: inline;
    height: 1%;
    width: 520px;
}

/* 6.0 Forms */
/* 6.1 Primary Search */
/*
 * All styles relating to the primary search bar in the primary navigation
 */

#primary-search fieldset{
    display: inline;
    height: 1%;
}


/* 6.4 Sort By */
/*
 * All styles relating to the sort by options on the categories results page
*/

.sort-by{
    display: inline;
    height: 1%;
}
.sort-by .sort-by-options{
    display: inline;
    height: 1%;
}

/* 7.0 Film Details */
/*
 * All styles relating to the detailed search result page
*/

.film-details ul{
    display: inline;
    height: 1%;
}