/*! Styles for the Film Database */

/* Contents
    1.0 Common
    2.0 Structure
*/

/* 1.0 Common */
/*
 * All styles relating to common elements
*/

body{
    font-family: verdana, arial, sans-serif;
    background: #DDD;
    margin: 0;
    padding: 0;
}
fieldset{
    margin: 10px 0 10px 0;
}
label{
    width: 150px;
    display: inline-block;
}
ul {
    list-style: none;
    padding: 0;
}
li{
    margin: 10px 0 10px 0;
}

/* 2.0 Structure */
/*
 * All styles relating to the structure of the site
*/

#page{
    width: 900px;
    margin: 0 auto;
    background: #FFF;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

/* 3.0 Ajax */
/* All styles relating to server connections */

#loader{
    display: block;
    width: 30px;
    height: 30px;
    background: url(/assets/images/loader.gif) no-repeat;
}

/* 3.1 Api film search results */

.film-search-results li{
    display: inline-block;
    margin: 0 10px 0 0;
    width: 100px;
    vertical-align: top;
    max-height: 350px;
}
.film-search-results a{
    display: block;
    padding: 10px;
    border: 1px solid #999;
}
.film-search-results img{
    width: 65px;
}




