/*! Styles for the Film Database */

/* Contents
    1.0 Common
        1.1 Buttons
    2.0 Structure
    3.0 Javascript
        3.1 Placeholder
    4.0 Navigation
        4.1 Primary Navigation
    5.0 Category Search Results
    6.0 Forms
        6.1 Primary Search
    7.0 Film Details
*/

/* 1.0 Common */
/*
 * All styles relating to common elements
*/

body{
    font-family: 'Trykker', georgia, serif;
    background: #DDD;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
fieldset{
    margin: 10px 0 10px 0;
    border: none;
    padding: 0;
}
legend {
    display: none;    
}
label{
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
ul {
    list-style: none;
    padding: 0;
}
li{
    margin: 10px 0 10px 0;
}
.hidden{
    display: none;
}
h1, h2, h3, h4, h5{
    margin: 10px 0 10px 0;
}
input[type="text"], input[type="submit"]{
    height: 30px;
    padding: 0 5px 0 5px;
    border-radius: 3px;
}
input[type="text"]{
    border: 1px solid #BBB;
    width: 140px;
}
.hidden{
    display: none;
}
.category{
    font-weight: bold;
}
select{
    width: 150px;
}

/* 1.1 Buttons */

input[type="submit"]{
    background-color: #B95315;
    background-image: linear-gradient(bottom, rgb(185,84,21) 0%, rgb(255,136,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(185,84,21) 0%, rgb(255,136,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(185,84,21) 0%, rgb(255,136,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(185,84,21) 0%, rgb(255,136,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(185,84,21) 0%, rgb(255,136,0) 100%);
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    color: #FFFFFF;
    font-family: Armata, verdana, sans-serif;
    font-weight: 500;    
}
input[type="submit"]:hover{
    color: #DDD;
    cursor: pointer;
}

/* 2.0 Structure */
/*
 * All styles relating to the structure of the site
*/

#page{

}
#content{
    padding: 15px;
    width: 900px;
    margin: 20px auto 0;
    background: #FFF;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;    
}

/* 3.0 Javascript */
/* All styles relating to dynamic elements */

#loader{
    display: block;
    width: 30px;
    height: 30px;
    background: url(/assets/images/loader.gif) no-repeat;
}

/* 3.1 Placeholder */
/* Styling generated placeholders */

.hasPlaceholder{
    color: #888;
}

/* 4.0 Navigation */

.navigation{
    background: #333;
    padding: 10px;
}
.navigation li{
    display: inline-block;
    margin: 0 10px 0 0;
}
.navigation a{
    color: rgba(254, 254, 254, 0.6);
    text-decoration: none;    
}
.navigation a:hover{
    color: rgba(254, 254, 254, 1.0);
}

/* 4.1 Primary Navigation */

#primary-navigation{
    margin: 0;
    padding: 20px 15px 15px 15px;
    font-family: Armata, verdana, sans-serif;
    font-weight: 500;
}
#primary-navigation a{
    font-size: 18px;
}
#primary-navigation ul{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin: 0;
}
#primary-navigation li{
    border-right: 2px solid #FFF;
    padding: 0 10px 0 0;
}
#primary-navigation li:last-child{
    padding: 0;
    border-right: none;
}



/* 5.0 Category search results */

.search-results img{
    width: 200px;
}
.search-results .result{
    border: 2px solid #999;
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0 10px 20px 0;
    padding: 10px;
    border-radius: 3px;
}
.search-results .poster, .search-results .title{
    text-align: center;
}
.categories .search-results{
    border-top: 1px solid;
    padding: 20px 0 0 0;
    margin: 0;
}
.categories .search-by-information{
    display: inline-block;
    width: 620px;
    margin: 10px 0 5px 0;
}

/* 6.0 Forms */
/* 6.1 Primary Search */
/*
 * All styles relating to the primary search bar in the primary navigation
 */

#primary-search{
    position: absolute;
    right: 20px;
    top: 12px;
    vertical-align: top;
}
#primary-search label{
    display: none;
}
#primary-search input[type="submit"]{
    margin: 0 0 0 5px;
}
#primary-search fieldset{
    display: inline-block;
    border-right: 3px solid #DDD;
    padding: 0 10px 0 0;
    margin: 0;
}
#primary-search fieldset:last-child{
    border-right: none;
    padding: 0;
}

/* 6.2 Film Update */
/*
 * All styles relating to the initial api search
 */

#film-update{
    text-align: center;
}
#film-update label{
    display: none;
}
#film-update input[type="text"]{
    width: 250px;
}

/* 6.3 Add to Collection */
/*
  All styles relating to the api search results
 */

.add-to-collection input[type="submit"], .get-details input[type="submit"]{
    display: block;
    margin: 20px auto 0 auto;
}

/* 6.4 Sort By */
/*
 * All styles relating to the sort by options on the categories results page
*/

.sort-by{
    display: inline-block;
}
.sort-by .sort-by-options{
    display: inline-block;
}
.sort-by-options label{
    width: inherit;
    margin: 0 8px 0 0;
}
.sort-by-options select{
    margin: 0 8px 0 0;
}

/* 7.0 Film Details */
/*
 * All styles relating to the detailed search result page
*/

.film-details img{
    width: 200px;
    margin: 0 0 20px 0;
}
.film-details ul{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin: 0 0 0 20px;
}
.film-details a{
    display: block;
}
